html { 
  background: url("https://farm6.staticflickr.com/5699/22959969033_0ad584039a_h.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
 body {
  background-color: rgba(0,0,0,.7);
  /* Transparent color for IE 5.5 - 7*/    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /*Transparent color for IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
   /*end IE hacks------*/
   
  height: 100vh;
  width: 100vw; 
}
 div, h1, h2, p, span{
  color: white;
}
#copyright {
  position: fixed;
  top: 95vh;
  left: 2vw;
  color: lightgray;
 
}
h1 {
  margin-top: 0;
  margin-left: 0;
  padding: 1.5vw;
}